[flake8]
max-line-length = 120
ignore =
    E111,
    E114,
    E115,
    E123,
    E128,
    E221,
    E241,
    E261,
    E275,
    E301,
    E302,
    E303,
    E401,
    E402,
    E501,
    E703,
    E711,
    E722,
    F401,
    F403,
    F405,
    W291,
    W293,
    W391,
    W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    cov_annotate
